<div class="video-container">

  <img *ngIf="showInitialImage" src="assets/usfq-image.png" class="fullscreen-image" />


  <div class="grid-container" *ngIf="isEditing">
    <div class="video-segment" *ngFor="let segment of videoSegments; let i = index" [class.active]="segment.active"
      [class.inactive]="!segment.active">
      <!-- Imagen de los segmentos -->
      <img *ngIf="segment.showImage" [src]="segment.imageSrc" class="segment-image" />


      <!-- Video de los segmentos -->
      <video *ngIf="segment.active" autoplay muted (ended)="onSegmentVideoEnd(i)" class="segment-video">
        <source [src]="segment.src" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="message-container" *ngIf="segment.showMessage">
        <h2 class="message-title">{{ segment.title }}</h2>
        <p class="message-text">{{ segment.message }}</p>
      </div>
    </div>
  </div>




